include partials/master

.container-fluid
    h2.m-3.text-center Доски
        .row
            .col-9
                each board, index in boards
                    .card
                        .card-header #{board.id}
                        .card-body
                            blockquote.blockquote.mb-0
                            h3.mb-3 
                                a(href=`/board/${board.id}`) #{board.name}
                            footer.blockquote-footer.mb-0
                                | Автор: #{board.author}   
            .col-3
                if nickname
                    button.btn.btn-primary(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasRight' aria-controls='offcanvasRight') Создать доску
                    #offcanvasRight.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasRightLabel')
                        .offcanvas-header
                            h5#offcanvasRightLabel Создайте доску
                            button.btn-close.text-reset(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
                        .offcanvas-body
                            form(action="/board", method="post")
                                .mb-3
                                    label.form-label Название доски
                                    input.form-control(type='text', placeholder="Введите название доски", name="name")
                                button.btn.btn-primary(type='submit') Отправить
                else 
                    h4.text-danger Вы не можете создавать доски анонимно   
                        a(href="/nickname") Записать имя пользователя